
    <form class="form-inline" role="form" method="get" action="/page/$thisPage.getUrlName()?tab=lagliste">
        <input type="hidden" name="action" value="list-team-members">
        <input type="hidden" name="tab" value="lagliste">
        <div class="form-group">
            <select class="form-control" name="teamid" required>
                <option value="">-- Velg lag eller aktivitet --</option>
    #set($sportList = $clubService.getSports())
    #foreach($sport in $sportList)
                <optgroup label="$sport.getName()">
        #set($teamList = $sport.getTeams())
        #foreach($team in $teamList)
            #if($team.isClosed())
                    <option#if($selectedTeam.getId()==$team.getId()) selected#end value="$team.getId()" disabled>$team.getName() (Ikke åpen for påmelding)</option>
            #else
                    <option#if($selectedTeam.getId()==$team.getId()) selected#end value="$team.getId()">$team.getName()#if($team.getDescription()) -- $team.getDescription()#end</option>
            #end
        #end
                </optgroup>
    #end
            </select>
        </div>

        <label class="checkbox-inline">
            <input type="checkbox" name="showcontactinfo" value="true"#if($showContactInfo) checked#end> Vis kontaktinfo
        </label>

        <label class="checkbox-inline">
            <input type="checkbox" name="showdisenrolled" value="true"#if($showDisenrolled) checked#end> Vis avmeldte
        </label>

        <button type="submit" class="btn btn-mini btn-primary">Vis lagliste</button>
    </form>

#if($error)
    <div class="margin-bottom-20"></div>
    <div class="alert alert-danger fade in">
        $error
    </div>
#end

#if($selectedTeam)

    #set($members = $clubService.sortSetOfPrincipalsByLastName($selectedTeamMembershipMap.keySet()))

    #if(!$showDisenrolled)

    <div class="margin-bottom-40"></div>
    <div class="panel panel-green margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-group"></i> $selectedTeam.getSport().getName() -- $selectedTeam.getName()</h3>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Navn</th>
                    <th class="hidden-sm">Alder</th>
                    <th>Fødselsår</th>
#if($showContactInfo)
                    <th>Telefon</th>
                    <th>E-post</th>
#end
#if(!$showContactInfo)
                    <th class="hidden-sm">Påmeldt</th>
                    <th class="hidden-sm">Varighet</th>
#end
                </tr>
            </thead>
            <tbody>
    #foreach($member in $members)
        #set($membership = $selectedTeamMembershipMap.get($member))
        #if($membership.isEnrolled())
                <tr>
                    <td><i class="icon-$member.getGender()"></i></td>
                    <td>
                        $member.getName()
                        #if(!$userService.isOnlyPrincipal($member))<i class="icon-user"></i> #end
                    </td>
                    <td class="hidden-sm">$userService.getAge($member)</td>
                    <td>$pageService.formatYear($member.getBirthDate())</td>
#if($showContactInfo)
                    <td>
                        #if($userService.getAge($member) < 18)
                            #set($guardian = $member.getFamily().getPrimaryPrincipal())
                            #set($gNumber = $guardian.getMobileNumberList().get(0).getNumber())
                        #end
                        #if(!$userService.isOnlyPrincipal($member) && !$member.getMobileNumberList().isEmpty())
                            #set($number = $member.getMobileNumberList().get(0).getNumber())
                        #end
                        #if($number) 
                        <i class="icon-mobile-phone"></i> <a href="tel:$number">$number</a>
                        #end
                        #if($number && $gNumber)
                        <br>
                        #end
                        #if($gNumber)
                        <i class="icon-mobile-phone"></i> <a href="tel:$gNumber">$gNumber</a> ($guardian.getName())
                        #end
                    </td>
                    <td>
                        #if($userService.getAge($member) < 18)
                            #set($guardian = $member.getFamily().getPrimaryPrincipal())
                            #set($gEmail = $guardian.getEmailAddressList().get(0).getEmail())
                        #end
                        #if(!$userService.isOnlyPrincipal($member) && !$member.getEmailAddressList().isEmpty())
                            #set($email = $member.getEmailAddressList().get(0).getEmail())
                        #end
                        #if($email) 
                        <i class="icon-envelope"></i> <a href="mailto:$email">$email</a>
                        #end
                        #if($email && $gEmail)
                        <br>
                        #end
                        #if($gEmail)
                        <i class="icon-envelope"></i> <a href="mailto:$gEmail">$gEmail</a> ($guardian.getName())
                        #end
                    </td>
#end
#if(!$showContactInfo)
                    <td class="hidden-sm">$pageService.formatDateTime($membership.getCreated())</td>
                    <td class="hidden-sm">$pageService.prettyTime($membership.getCreated())</td>
#end
                </tr>
        #end
    #end
            </tbody>
        </table>
    </div>

    #else

    <div class="margin-bottom-40"></div>
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-trash"></i> $selectedTeam.getSport().getName() -- $selectedTeam.getName() (Tidligere påmeldte)</h3>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Navn</th>
                    <th class="hidden-sm">Alder</th>
                    <th class="hidden-sm">Fødselsår</th>
#if($showContactInfo)
                    <th>Telefon</th>
                    <th>E-post</th>
#end
#if(!$showContactInfo)
                    <th class="hidden-sm">Påmeldt</th>
                    <th>Utmeldt</th>
                    <th class="hidden-sm">Varighet</th>
#end
                </tr>
            </thead>
            <tbody>
    #foreach($member in $members)
        #set($membership = $selectedTeamMembershipMap.get($member))
        #if(!$membership.isEnrolled())
            #set($enrollment = $clubService.getLastEnrollmentToTeamForPrincipal($membership.getTeam(), $membership.getPrincipal()))
            #set($gNumber = false)
            #set($gEmail = false)
                <tr>
                    <td><i class="icon-$member.getGender()"></i></td>
                    <td>$member.getName()</td>
                    <td class="hidden-sm">$userService.getAge($member)</td>
                    <td class="hidden-sm">$pageService.formatYear($member.getBirthDate())</td>
#if($showContactInfo)
                    <td>
                        #if($userService.getAge($member) < 18)
                            #set($guardian = $member.getFamily().getPrimaryPrincipal())
                            #set($gNumber = $guardian.getMobileNumberList().get(0).getNumber())
                        #end
                        #if(!$userService.isOnlyPrincipal($member))
                            #set($number = $member.getMobileNumberList().get(0).getNumber())
                        #end
                        #if($number) 
                        <i class="icon-mobile-phone"></i> <a href="tel:$number">$number</a>
                        #end
                        #if($number && $gNumber)
                        <br>
                        #end
                        #if($gNumber)
                        <i class="icon-mobile-phone"></i> <a href="tel:$gNumber">$gNumber</a> ($guardian.getName())
                        #end
                    </td>
                    <td>
                        #if($userService.getAge($member) < 18)
                            #set($guardian = $member.getFamily().getPrimaryPrincipal())
                            #set($gEmail = $guardian.getEmailAddressList().get(0).getEmail())
                        #end
                        #if(!$userService.isOnlyPrincipal($member))
                            #set($email = $member.getEmailAddressList().get(0).getEmail())
                        #end
                        #if($email) 
                        <i class="icon-envelope"></i> <a href="mailto:$email">$email</a>
                        #end
                        #if($email && $gEmail)
                        <br>
                        #end
                        #if($gEmail)
                        <i class="icon-envelope"></i> <a href="mailto:$gEmail">$gEmail</a> ($guardian.getName())
                        #end
                    </td>
#end
#if(!$showContactInfo)
                    <td class="hidden-sm">$pageService.formatDateTime($enrollment.getCreated())</td>
                    <td>$pageService.formatDateTime($membership.getCreated())</td>
                    <td class="hidden-sm">$pageService.prettyTime($membership.getCreated(), $enrollment.getCreated())</td>
#end
                </tr>
        #end
    #end
            </tbody>
        </table>
    </div>

    #end

#end

