
    <form class="form-inline" role="form" method="get" action="/page/$thisPage.getUrlName()?tab=deltagerliste">
        <input type="hidden" name="action" value="list-event-participants">
        <input type="hidden" name="tab" value="deltagerliste">
        <div class="form-group">
            <select class="form-control" name="eventid" required>
                <option value="">-- Velg arrangement --</option>
    #set($eventList = $clubService.getRecentAndFutureEvents())
        #foreach($event in $eventList)
            <option#if($selectedEvent.getId()==$event.getId()) selected#end value="$event.getId()">
                $event.getName()
                - $pageService.formatDateTimeNoSeconds($event.getStartTime())
                - [$clubService.getEnrolledCountForEvent($event)#if($event.getVacancies())/$event.getVacancies()#end]
            #if($clubService.isEventEnded($event)) - Avsluttet#end
            #if($$event.isClosed()) - Påmelding stengt#end
            #if($$event.isLocked()) - Påmelding låst#end
            </option>
        #end
            </select>
        </div>

        <label class="checkbox-inline">
            <input type="checkbox" name="showcontactinfo" value="true"#if($showContactInfo) checked#end> Vis kontaktinfo
        </label>

        <label class="checkbox-inline">
            <input type="checkbox" name="showdisenrolled" value="true"#if($showDisenrolled) checked#end> Vis avmeldte
        </label>

        <button type="submit" class="btn btn-mini btn-primary">Vis deltagerliste</button>
    </form>

#if($error)
    <div class="margin-bottom-20"></div>
    <div class="alert alert-danger fade in">
        $error
    </div>
#end

#if($selectedEvent)

    #set($participants = $clubService.sortSetOfPrincipalsByLastName($selectedEventParticipationMap.keySet()))
    #set($spotsLeft = $clubService.getSpotsLeft($selectedEvent))

    #if(!$showDisenrolled)

    <div class="margin-bottom-40"></div>
    <div class="panel panel-#if($clubService.isClosed())yellow#elseif($clubService.isEventEnded($selectedEvent))red#{else}green#end margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-group"></i> $selectedEvent.getName()
#if($selectedEvent.isClosed()) - <i class="icon-ban-circle"></i>Påmelding stengt#end
#if($selectedEvent.isLocked()) - <i class="icon-lock"></i>Påmelding låst#end
#if($spotsLeft>=0) - <i class="icon-ticket"></i>$clubService.getEnrolledCountForEvent($selectedEvent) / $selectedEvent.getVacancies() plasser#end
#if($clubService.isEventEnded($selectedEvent)) - <i class="icon-stop"></i>Avsluttet#end
 - <i class="icon-calendar"></i>$pageService.formatDateTimeNoSeconds($selectedEvent.getStartTime())#if($selectedEvent.getEndTime()) <i class="icon-long-arrow-right"></i>$pageService.formatDateTimeNoSeconds($selectedEvent.getEndTime())#end
            </h3>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Navn</th>
                    <th class="hidden-sm">Alder</th>
                    <th>Fødselsår</th>
#if($showContactInfo)
                    <th>Telefon</th>
                    <th>E-post</th>
#end
#if(!$showContactInfo)
                    <th class="hidden-sm">Påmeldt</th>
                    <th>Betaling</th>
#end
                </tr>
            </thead>
            <tbody>
    #foreach($participant in $participants)
        #set($participation = $selectedEventParticipationMap.get($participant))
        #if($participation.isEnrolled())
                <tr>
                    <td>$velocityCount</td>
                    <td>
                        <i class="icon-$participant.getGender()"></i>
                        $participant.getName()
                        #if(!$userService.isOnlyPrincipal($participant))<i class="icon-user"></i> #end
                    </td>
                    <td class="hidden-sm">$userService.getAge($participant)</td>
                    <td>$pageService.formatYear($participant.getBirthDate())</td>
#if($showContactInfo)
                    <td>
                        #if($userService.getAge($participant) < 18)
                            #set($guardian = $participant.getFamily().getPrimaryPrincipal())
                            #set($gNumber = $guardian.getMobileNumberList().get(0).getNumber())
                        #end
                        #if(!$userService.isOnlyPrincipal($participant) && !$participant.getMobileNumberList().isEmpty())
                            #set($number = $participant.getMobileNumberList().get(0).getNumber())
                        #end
                        #if($number) 
                        <i class="icon-mobile-phone"></i> <a href="tel:$number">$number</a>
                        #end
                        #if($number && $gNumber)
                        <br>
                        #end
                        #if($gNumber)
                        <i class="icon-mobile-phone"></i> <a href="tel:$gNumber">$gNumber</a> ($guardian.getName())
                        #end
                    </td>
                    <td>
                        #if($userService.getAge($participant) < 18)
                            #set($guardian = $participant.getFamily().getPrimaryPrincipal())
                            #set($gEmail = $guardian.getEmailAddressList().get(0).getEmail())
                        #end
                        #if(!$userService.isOnlyPrincipal($participant) && !$participant.getEmailAddressList().isEmpty())
                            #set($email = $participant.getEmailAddressList().get(0).getEmail())
                        #end
                        #if($email) 
                        <i class="icon-envelope"></i> <a href="mailto:$email">$email</a>
                        #end
                        #if($email && $gEmail)
                        <br>
                        #end
                        #if($gEmail)
                        <i class="icon-envelope"></i> <a href="mailto:$gEmail">$gEmail</a> ($guardian.getName())
                        #end
                    </td>
#end
#if(!$showContactInfo)
                    <td class="hidden-sm">$pageService.formatDateTime($participation.getCreated())</td>
                    <td>
                        #set($invoiceStatus = $invoiceService.getPrincipalEventParticipationInvoiceStatus($participation.getPrincipal(), $participation.getEvent()))
                        #if($invoiceStatus) $invoiceStatus.getDescription()#{else}Ikke fakturert#end
                    </td>
#end
                </tr>
        #end
    #end
            </tbody>
        </table>
    </div>

    #else

    <div class="margin-bottom-40"></div>
    <div class="panel panel-orange margin-bottom-20">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-trash"></i> $selectedEvent.getName() (Tidligere påmeldte)</h3>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Navn</th>
                    <th class="hidden-sm">Alder</th>
                    <th class="hidden-sm">Fødselsår</th>
#if($showContactInfo)
                    <th>Telefon</th>
                    <th>E-post</th>
#end
#if(!$showContactInfo)
                    <th class="hidden-sm">Påmeldt</th>
                    <th>Utmeldt</th>
                    <th class="hidden-sm">Varighet</th>
#end
                </tr>
            </thead>
            <tbody>
    #foreach($participant in $participants)
        #set($participation = $selectedEventParticipationMap.get($participant))
        #if(!$participation.isEnrolled())
            #set($enrollment = $clubService.getLastEnrollmentToEventForPrincipal($participation.getEvent(), $participation.getPrincipal()))
            #set($gNumber = false)
            #set($gEmail = false)
                <tr>
                    <td><i class="icon-$participant.getGender()"></i></td>
                    <td>$participant.getName()</td>
                    <td class="hidden-sm">$userService.getAge($participant)</td>
                    <td class="hidden-sm">$pageService.formatYear($participant.getBirthDate())</td>
#if($showContactInfo)
                    <td>
                        #if($userService.getAge($participant) < 18)
                            #set($guardian = $participant.getFamily().getPrimaryPrincipal())
                            #set($gNumber = $guardian.getMobileNumberList().get(0).getNumber())
                        #end
                        #if(!$userService.isOnlyPrincipal($participant))
                            #set($number = $participant.getMobileNumberList().get(0).getNumber())
                        #end
                        #if($number) 
                        <i class="icon-mobile-phone"></i> <a href="tel:$number">$number</a>
                        #end
                        #if($number && $gNumber)
                        <br>
                        #end
                        #if($gNumber)
                        <i class="icon-mobile-phone"></i> <a href="tel:$gNumber">$gNumber</a> ($guardian.getName())
                        #end
                    </td>
                    <td>
                        #if($userService.getAge($participant) < 18)
                            #set($guardian = $participant.getFamily().getPrimaryPrincipal())
                            #set($gEmail = $guardian.getEmailAddressList().get(0).getEmail())
                        #end
                        #if(!$userService.isOnlyPrincipal($participant))
                            #set($email = $participant.getEmailAddressList().get(0).getEmail())
                        #end
                        #if($email) 
                        <i class="icon-envelope"></i> <a href="mailto:$email">$email</a>
                        #end
                        #if($email && $gEmail)
                        <br>
                        #end
                        #if($gEmail)
                        <i class="icon-envelope"></i> <a href="mailto:$gEmail">$gEmail</a> ($guardian.getName())
                        #end
                    </td>
#end
#if(!$showContactInfo)
                    <td class="hidden-sm">$pageService.formatDateTime($enrollment.getCreated())</td>
                    <td>$pageService.formatDateTime($participation.getCreated())</td>
                    <td class="hidden-sm">$pageService.prettyTime($participation.getCreated(), $enrollment.getCreated())</td>
#end
                </tr>
        #end
    #end
            </tbody>
        </table>
    </div>

    #end

#end

