<!--=== Footer ===-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>Om Leinstrand IL</h2></div>  
                <p class="margin-bottom-25 md-margin-bottom-40">
                    Leinstrand IL ble stiftet 17. januar 1886 og er et fleridrettslag for fotball, langrenn, hurtigløp
                    på skøyter og allidrett. Leinstrand IL er medlem av Norges Idrettsforbund gjennom
                    Sør-Trøndelag Idrettskrets. Klubben er også medlem av særforbundene Norges Fotballforbund,
                    Norges Skiforbund og Norges Skøyteforbund, gjennom henholdsvis Trøndelag Fotballkrets,
                    Sør-Trøndelag skikrets og Sør-Trøndelag skøytekrets.
                </p>
            </div><!--/col-md-4-->

            <div class="col-md-4 md-margin-bottom-40">
                <div class="posts">
                    <div class="headline"><h2>Siste nytt fra laget</h2></div>
#foreach($index in [0..2])
    #set($news = $lilNewsList.get($index))
                    <dl class="dl-horizontal">
                        <dt>
                            <a href="$facebookService.getLinkUrl($news)"><img src="$facebookService.getSmallPictureUrl($news)" alt="" /></a>
                        </dt>
                        <dd>
                            <p><a href="$facebookService.getLinkUrl($news)">$facebookService.getShortBody($news)</a></p> 
                        </dd>
                    </dl>
#end
                </div>
            </div><!--/col-md-4-->

            <div class="col-md-4">
                <div class="headline"><h2>Kontakt oss</h2></div> 
                <address class="md-margin-bottom-40">
                    Leinstrand Idrettslag <br />
                    7083 Leinstrand<br />
                    Telefon: <a href="tel:+47 977 57 365">977 57 365</a> (Styreleder)<br />
                    E-post: <a href="mailto:kontakt@leinstrand-il.no">kontakt@leinstrand-il.no</a>
                </address>

                <!-- Stay Connected -->
                <div class="headline"><h2>Følg oss i Sosiale Media</h2></div> 
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/LeinstrandIL" target="_blank">Hovedlaget</a></li>
                    <li><a href="https://www.facebook.com/skoyter" target="_blank">Skøyter</a></li>
                    <li><a href="https://www.facebook.com/pages/Leinstrand-IL-Fotball/1429965400580363" target="_blank">Fotball</a></li>
                    <li><a href="https://www.facebook.com/pages/Leinstrand-Ski/152824058117224" target="_blank">Ski</a></li>
                    <li><a href="https://www.facebook.com/pages/Leinstrand-IL-Trim-og-aktivitet/596842857074346" target="_blank">Trim og aktivitet</a></li>
                </ul>
            </div><!--/col-md-4-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/footer-->
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright-space">
                    2014 &copy; Leinstrand Idrettslag.
                    <a href="#">Personvern</a> | <a href="#">Tjenestebetingelser</a>
                </p>
            </div>
            <div class="col-md-6">
                <a href="/">
                    <img id="logo-footer" src="images/lil-logo_391.png" height="39" class="pull-right" alt="Leinstrand Idrettslag" />
                </a>
            </div>
        </div><!--/row-->
    </div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/plugins/hover-dropdown.min.js"></script>
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="js/jquery.jeditable.mini.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="redactor/redactor.js"></script>
#if($thisPage.getTemplate() == "contact")
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="assets/plugins/gmap/gmap.js"></script>
#end
<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
#if($thisPage.getTemplate() == "contact")
<script type="text/javascript" src="assets/js/pages/contact.js"></script>
#end
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
//        App.initSliders();
#if($thisPage.getTemplate() == "contact")
        Contact.initMap();
#end

        $('#redactor_save').hide();
        $('#redactor_edit').click(function(e) {
            e.preventDefault();
#foreach($id in $redactorIdList)
            $('#${id}').redactor({
                imageUpload: '/api/upload',
                imageGetJson: '/api/images',
                imageUploadErrorCallback: function(json) { alert(json.error); },
                fileUpload: '/api/upload',
                fileUploadErrorCallback: function(json) { alert(json.error); },
                paragraphy: false,
                convertDivs: false,
                convertLinks: true,
                convertImageLinks: true,
                convertVideoLinks: true,
                removeEmptyTags: false,
                pastePlainText: true,
                formattingPre: true,
                linkAnchor: true,
                linkEmail: true,
                tidyHtml: false,
                minHeight: 320,
                tabSpaces: 4,
                wym: true
            });
#end
#foreach($id in $redactorAirIdList)
            $('#${id}').redactor({
                air: true,
                paragraphy: false,
                convertDivs: false,
                convertLinks: false,
                pastePlainText: true
            });
#end
            $(this).hide();
            $('#redactor_save').show();
        });

        $('#redactor_save').click(function(e) {
            var arrJqx = [];

#foreach($id in $redactorIdList)
            arrJqx.push($.ajax({
                url: '/api/save/textnode/${id}',
                data: encodeURIComponent($('#${id}').redactor('get')),
                type: 'post'
            }));
#end
#foreach($id in $redactorAirIdList)
            arrJqx.push($.ajax({
                url: '/api/save/textnode/${id}',
                data: encodeURIComponent($('#${id}').redactor('get')),
                type: 'post'
            }));
#end

            $.when.apply($, arrJqx).done(function(){
                var allOk = true;
                var conflict = false;
                $.each(arguments, function(index, arg) {
                    if (arg[2].status != 200) {
                        allOk = false;
                    }
                    console.log(arg[2].status);
                    if (arg[2].status == 409) {
                        conflict = true;
                    }
                    console.log(allOk + " : " + conflict);
                });
#foreach($id in $redactorIdList)
                $('#${id}').redactor('destroy');
#end
#foreach($id in $redactorAirIdList)
                $('#${id}').redactor('destroy');
#end
                if (allOk) {
                    alert("Endringene ble lagret! Siden vil nå lastes på nytt.");
                    location.reload(true);
                } else {
                    if (conflict) {
                        alert("Endringskonflikt! Dine endringer ble ikke lagret da noen andre har endret siden i mens du skrev. Kopier dine data for sikkerthetsskyld!");
                    } else {
                        alert("Dine endringer ble IKKE lagret. Forsøk igjen eller meld fra til driftsansvarlig om problemet ikke går over av seg selv. Kopier dine data for sikkerthetsskyld!");
                    }
                }
            });

        });

    });
</script>

<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<![endif]-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48024336-2', 'leinstrandil.no');
  ga('send', 'pageview');

</script>

</body>
</html>