<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>#if($pageTitle)${pageTitle}#elseif($thisPage)$thisPage.getTitle()#{else}404: Ukjent Side#end</title>

    <base href="${baseHref}">

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Leinstrand IL sine hjemmesider.">
    <meta name="author" content="Leinstrand Idrettslag">
    <meta name="google-site-verification" content="Vv-8EB3QsfCqwnKz4xNNqzZIzJsKj9eMwdIcopDTJCA" />

    <link rel="icon" type="image/png" href="/images/lil-logo_32.png">
    <link rel="apple-touch-icon" href="/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad-retina.png">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/headers/header2.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="redactor/redactor.css" />
    <!-- CSS Page Style -->
#if($thisPage.getTemplate() == "magazine")
    <link rel="stylesheet" href="assets/css/pages/page_magazine.css">
    <link rel="stylesheet" href="assets/css/pages/page_search.css">
#elseif($thisPage.getTemplate() == "facebook")
    <link rel="stylesheet" href="assets/css/pages/page_magazine.css">
    <link rel="stylesheet" href="assets/css/pages/page_search.css">
#elseif($thisPage.getTemplate() == "contact")
    <link rel="stylesheet" href="assets/css/pages/page_contact.css">
#elseif($thisPage.getTemplate() == "page")
    <link rel="stylesheet" href="assets/css/pages/blog.css">
    <link rel="stylesheet" href="assets/css/pages/page_magazine.css"> 
#elseif($thisPage.getTemplate() == "404")
    <link rel="stylesheet" href="assets/css/pages/page_404_error.css">
#elseif($thisPage.getTemplate() == "401")
    <link rel="stylesheet" href="assets/css/pages/page_404_error.css">
#elseif($thisPage.getTemplate() == "generic")
    <link rel="stylesheet" href="assets/css/pages/blog.css">
    <link rel="stylesheet" href="assets/css/pages/page_magazine.css">
    <link rel="stylesheet" href="assets/css/pages/page_clients.css">
#elseif($thisPage.getTemplate() == "searchresults")
    <link rel="stylesheet" href="assets/css/pages/blog.css">
    <link rel="stylesheet" href="assets/css/pages/page_magazine.css"> 
    <link rel="stylesheet" href="assets/css/pages/page_search.css">
#elseif($thisPage.getTemplate() == "signin")
    <link rel="stylesheet" href="assets/css/pages/page_log_reg_v2.css">
    <link rel="stylesheet" href="assets/plugins/jquery-ui-1.10.4.css">
#elseif($thisPage.getTemplate() == "mypage")
    <link rel="stylesheet" href="assets/plugins/jquery-ui-1.10.4.css">
#elseif($thisPage.getTemplate() == "accounting")
    <link rel="stylesheet" href="assets/css/pages/page_invoice.css">
#end
    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/themes/red.css" id="style_color">
    <link rel="stylesheet" href="assets/css/themes/headers/header2-red.css" id="style_color-header-2">
</head>

<body>