<!--=== Top ===-->
<div class="top-v1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled top-v1-contacts">
                    <li>
                        <i class="icon-envelope"></i> Email: <a href="mailto:kontakt@leinstrandil.no">kontakt@leinstrandil.no</a>
                    </li>
                    <li>
                        <i class="icon-phone"></i> Telefon: <a href="tel:+47 977 57 365">977 57 365</a> (Styreleder)
                    </li>
                </ul>
            </div><!--/top-v1-contacts-->

            <div class="col-md-6">
                <ul class="list-unstyled top-v1-data">
                    <li><a href="/"><i class="icon-home"></i></a></li>
#if($user)
                    <li><a href="/logout">$user.getPrincipal().getName()</a></li>
#else
                    <li><a href="/signin">Logg inn med Facebook</a></li>
#end
                    <li><a href="/page/${thisPage.getUrlName()}#" id="redactor_edit"><i class="icon-edit"></i></a>
                        <a href="/page/${thisPage.getUrlName()}#" id="redactor_save"><i class="icon-save"></i></a>
                    </li>
                </ul>
            </div><!--/top-v1-data-->
        </div>
    </div>
</div><!--/top-v1-->
<!--=== End Top ===-->
