        <div class="reg-block-header">
            <h2>Registrer ny bruker</h2>
            <ul class="list-inline style-icons text-center">
                <li><a href="/"><i class="icon-home icon-round icon-round-sm icon-color-grey"></i></a></li>
                <li><a href="/fbsignin"><i class="icon-facebook icon-round icon-round-sm icon-color-grey"></i></a></li>
            </ul>
            <p>Har du allerede en bruker? Klikk <a href="/page/signin">her</a> for å logge inn.</p>
        </div>
        <form class="form-horizontal" role="form" method="POST" action="/page/$thisPage.getUrlName()?tab=registrer" autocomplete="off">
            <input type="hidden" name="action" value="register">

            #fielderror( "save" )

            #inputerror( "username" )
            <div class="input-group#if($errors.opt("username")) has-error#end margin-bottom-20">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" class="form-control" placeholder="Brukernavn" name="username" value="$!data.opt("username")" autocorrect="off" autocapitalize="off">
            </div>
            #inputerror( "name" )
            <div class="input-group#if($errors.opt("name")) has-error#end margin-bottom-20">
                <span class="input-group-addon"><i class="icon-edit-sign"></i></span>
                <input type="text" class="form-control" placeholder="Navn" name="name" value="$!data.opt("name")" autocorrect="off" autocapitalize="on">
            </div>
            #inputerror( "email" )
            <div class="input-group#if($errors.opt("email")) has-error#end margin-bottom-20">
                <span class="input-group-addon"><i class="icon-envelope"></i></span>
                <input type="email" class="form-control" placeholder="E-post" name="email" value="$!data.opt("email")">
            </div>
            #inputerror( "birthdate" )
            <div class="input-group#if($errors.opt("birtdate")) has-error#end margin-bottom-20">
                <span class="input-group-addon"><i class="icon-calendar"></i></span>
                <input type="text" class="form-control" id="datepicker" placeholder="Fødselsdag" name="birthdate" value="$!data.opt("birthdate")">
            </div>
            #inputerror( "gender" )
            <div class="input-group#if($errors.opt("gender")) has-error#end margin-bottom-20">
                <span class="input-group-addon"><i class="icon-male"></i></span>
                <select name="gender" class="form-control" id="inputGender">
                    #if($data.opt("gender")=="")
                    <option value=""> -- Velg Kjønn --</option>
                    #end
                    <option#if($data.opt("gender")=="male") selected#end value="male">Gutt</option>
                    <option#if($data.opt("gender")=="female") selected#end  value="female">Jente</option>
                </select>
            </div>
            #inputerror( "password1" )
            <div class="input-group#if($errors.opt("password1")) has-error#end margin-bottom-20">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Passord" name="password1" value="$!data.opt("password1")">
            </div>
            #inputerror( "password2" )
            <div class="input-group#if($errors.opt("password2")) has-error#end margin-bottom-30">
                <span class="input-group-addon"><i class="icon-key"></i></span>
                <input type="password" class="form-control" placeholder="Gjenta passordet" name="password2" value="$!data.opt("password2")">
            </div>
            <hr>
            #inputerror( "agree" )
            <label class="checkbox">
                <input name="agree" type="checkbox" value="true"#if($!data.opt("agree")=="true") checked#end> 
                <p>Jeg har lest <a target="_blank" href="/page/personvernogbetingelser">personvern og tjenestebetingelsene</a>.</p>
            </label>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block">Registrer</button>
                </div>
            </div>
        </form>
