        <div class="reg-block-header">
            <h2>Tilbakestill passord</h2>
            <ul class="list-inline style-icons text-center">
                <li><a href="/"><i class="icon-home icon-round icon-round-sm icon-color-grey"></i></a></li>
                <li><a href="/fbsignin"><i class="icon-facebook icon-round icon-round-sm icon-color-grey"></i></a></li>
            </ul>
        </div>
        <form class="form-horizontal" role="form" method="POST" action="/page/$thisPage.getUrlName()?tab=resetpassord">
            <input type="hidden" name="action" value="resetpassword">
            <div class="input-group#if($errors.opt("username")) has-error#end margin-bottom-20">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" class="form-control" name="username" placeholder="Brukernavn" value="$!data.opt("username")">
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block">Tilbakestill passord</button>
                </div>
            </div>
            #if($errors.opt("username"))
            <hr>
            <div class="alert alert-danger fade in">
                $errors.opt("username")
            </div>
            #end
            #if($info)
            <hr>
            <div class="alert alert-info fade in">
                $info.get(0)
            </div>
            #end
            <hr>
        </form>
        <p>Fyll ut ditt brukernavn ovenfor og klikk på knappen. Vi vil umiddelbart sende deg en e-post med informasjon om hvordan du kan sette nytt passord.</p>
        <hr>
        <h4>Mangler du bruker ?</h4>
        <p>da kan du <a href="/fbsignin">klikke her</a> for å logge inn med <i class="icon-facebook"></i> Facebook, eller registrer din egen bruker ved å <a href="/page/$thisPage.getUrlName()?tab=registrer">klikke her</a>.</p>
