        <div class="reg-block-header">
            <h2>Sett nytt passord</h2>
            <ul class="list-inline style-icons text-center">
                <li><a href="/"><i class="icon-home icon-round icon-round-sm icon-color-grey"></i></a></li>
                <li><a href="/fbsignin"><i class="icon-facebook icon-round icon-round-sm icon-color-grey"></i></a></li>
            </ul>
        </div>
        <form class="form-horizontal" role="form" method="POST" action="/page/$thisPage.getUrlName()?tab=settpassord">
            <input type="hidden" name="action" value="setpassword">
            <input type="hidden" name="code" value="$data.opt("code")">
            <div class="input-group#if($errors.opt("password1")) has-error#end margin-bottom-20">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" name="password1" placeholder="Nytt passord">
            </div>
            <div class="input-group#if($errors.opt("password2")) has-error#end margin-bottom-20">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" name="password2" placeholder="Gjenta det nye passordet">
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block">Sett nytt passord</button>
                </div>
            </div>
            #if($errors.opt("password"))
            <hr>
            <div class="alert alert-danger fade in">
                $errors.opt("password")
            </div>
            #end
            #if($info)
            <hr>
            <div class="alert alert-info fade in">
                $info.get(0)
            </div>
            #end
            <hr>
        </form>
