
#if($verified)

<div class="alert alert-success">
    <h4>Supert!</h4>
    <p>Tusen takk for at du bekreftet din e-postadresse.</p>
    <p><a class="btn-u btn-u-sea" href="/">Gå til forsiden</a></p>
</div>

#else

<div class="alert alert-block alert-danger fade in">
    <h4>Å nei! Noe gikk veldig galt..</h4>
    <p>Vi klarte ikke å bekrefte e-postadressen din. Er du sikker på at du klikket på lenken i den nyeste e-posten?</p>
    <p><a class="btn-u btn-u-red" href="/">Gå til forsiden</a></p>
</div>

#end
