
#macro( inputerror $name )
    #if($errors.opt($name))
        <span class="label label-danger">$errors.opt($name)</span>
    #end
#end

#macro( fielderror $name )
    #if($errors.opt($name))
    <div class="alert alert-danger fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        $errors.opt($name)
    </div> 
    #end
#end

#macro( editable_area $identifier  )
    #set($textNode = $pageService.getTextNode($thisPage, $identifier))
    <div id="$!{thisPage.getUrlName()}/${identifier}/${textNode.getId()}"
        class="edit_area">$pageService.renderText($textNode.getSource())</div>
#end

#macro( editable_field $identifier )
    #set($textNode = $pageService.getTextNode($thisPage, $identifier))
    <div id="$!{thisPage.getUrlName()}/${identifier}/${textNode.getId()}"
        class="edit_field">$pageService.renderText($textNode.getSource())</div>
#end

#macro( redactor $identifier $air)
    #set($textNode = $pageService.getTextNode($thisPage, $identifier))
    #set($id = "$!{thisPage.getUrlName()}-${identifier}-${textNode.getId()}")
    #if($air)
        #set($result = $redactorAirIdList.add($id))
    #else
        #set($result = $redactorIdList.add($id))
    #end
    <div id="${id}">${textNode.getSource()}</div>
#end