#parse("fragments/head.vm")
#parse("fragments/top.vm")
#parse("fragments/nav.vm")

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">401 Unauthorized</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Forsiden</a></li>
            <li class="active">401 Unauthorized</li>
        </ul>
    </div> 
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <!--Error Block-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v1">
                <span class="error-v1-title">401</span>
                <span>Ingen tilgang, men..</span>
                <p>fortvil ikke, <i class="icon-link"></i> <a href="/fbsignin?to=/page/$usedUrlName#if($usedTab)?tab=$usedTab#end"><u>klikk her for å logge inn</u></a>.</p>
            </div>
        </div>
    </div>
    <!--End Error Block-->
</div>
<!--=== End Content Part ===-->

#parse("fragments/footer.vm")