#parse("fragments/head.vm")
#parse("fragments/top.vm")
#parse("fragments/nav.vm")


<!--=== Content Part ===-->
<div class="container">
    <div class="row magazine-page">

        <!-- Begin Content -->
        <div class="col-md-9">

            <div class="headline"><h2>$thisPage.getTitle()</h2></div>

            <!--Magazine News-->
            <div class="magazine-news">
                <div class="row">
#foreach($index in [0..1])
    #set($post = $newsList.get($index))
                    <div class="col-md-6">
                        <div class="magazine-news-img" style="min-height:234px;">
                            <a href="$facebookService.getLinkUrl($post)">
                                <img class="img-responsive" src="$facebookService.getMediumPictureUrl($post)" alt="">
                            </a>
                        </div>
                        <h3><a href="$facebookService.getLinkUrl($post)">$facebookService.getTitle($post)</a></h3>
                        <div class="by-author">
                            <strong>av $facebookService.getAuthor($post)</strong>
                            <span>/ $facebookService.getPublished($post)</span>
                        </div> 
                        <p>$facebookService.getBody($post)</p>
                    </div>
#end
                </div>
            </div>
            <!--End Magazine News-->

            <hr>

            <!--Magazine News-->
            <div class="magazine-news">
#foreach($row in [0..2])
#set($offset = $row * 3)
                <div class="row">
#foreach($column in [0..2])
#set($index = $offset + $column + 2)
    #set($post = $newsList.get($index))
                    <div class="col-md-4">
                        <div class="magazine-news-img">
                            <a href="$facebookService.getLinkUrl($post)"><img class="img-responsive" src="$facebookService.getMediumPictureUrl($post)" alt=""></a>
                        </div>
                        <h3><a href="$facebookService.getLinkUrl($post)">$facebookService.getTitle($post)</a></h3>
                        <div class="by-author">
                            <strong>av $facebookService.getAuthor($post)</strong>
                            <span>/ $facebookService.getPublished($post)</span>
                        </div> 
                        <p>$facebookService.getBody($post)</p>
                    </div>
#end

                </div>
#end
            </div>
            <!--End Magazine News-->
        </div>
        <!-- End Content -->

        <!-- Begin Sidebar -->
        <div class="col-md-3">

            <div class="margin-bottom-40"></div>

#set($subMenues = $menuService.getSubMenues($thisPage))
    #if($subMenues.size() > 1)
            <!-- Sub Menues -->
            <div class="tab-v4">
            <ul class="nav nav-pills nav-stacked margin-bottom-20">
#foreach($menu in $subMenues)
    #if($velocityCount == 1)
                <li class="active"><a href="/page/$menu.getPage().getUrlName()"><i class="icon-home"></i> $menu.getDescription()</a></li>
    #else
                <li><a href="/page/$menu.getPage().getUrlName()"><i class="icon-cloud"></i> $menu.getDescription()</a></li>
    #end
#end
            </ul>
            </div>
            <!-- End Sub Menues -->
#end

#set($favList = $pageService.getFavoritesForPage($thisPage))
#if(!$favList.isEmpty())
            <!-- Quick Links -->
            <div class="magazine-sb-categories">
                <div class="headline headline-md"><h2>Hurtiglenker</h2></div>
                <div class="row">
#set($half = $favList.size() / 2)
                    <ul class="list-unstyled col-xs-6">
#foreach($fav in $favList)
                        <li><a target="_blank" href="/page/$fav.getUrlName()">$fav.getTitle()</a></li>
    #if($velocityCount == $half)
                    </ul>
                    <ul class="list-unstyled col-xs-6">
    #end
#end
                    </ul>
                </div>
            </div>
            <!-- End Quick Links -->
#end

#if(!$events.isEmpty())
            <!-- Calendar -->
            <div class="blog-twitter">
                <div class="headline headline-md"><h3>Kalenderen</h3></div>
#foreach($e in $events)
                <div class="blog-twitter-inner">
                    <a target="_blank" href="https://www.facebook.com/events/$e.getFacebookEventId()/">$e.getName()</a>
                    #if($e.getLocation())<span><i class="icon-map-marker"></i> $e.getLocation()</span>#end 
                    <span#if($facebookService.isEventEnded($e)) style="text-decoration:line-through"#end><i class="icon-calendar"></i> $facebookService.getEventTime($e)</span>
                </div>
#end
            </div>
            <!-- End Calendar -->
#end

            <!-- Photo Stream -->
            <div class="headline"><h3>Bilder</h3></div>
            <ul class="list-unstyled blog-photos margin-bottom-30">
#foreach($post in $photoList)
                <li><a href="$facebookService.getLinkUrl($post)" target="_blank"><img class="hover-effect" alt="" src="$facebookService.getSmallPictureUrl($post)"></a></li>
#end
            </ul>
            <!-- End Photo Stream -->
        </div>
        <!-- End Sidebar -->
    </div>
</div><!--/container-->     
<!-- End Content Part -->


#parse("fragments/footer.vm")