#parse("fragments/head.vm")
#parse("fragments/top.vm")
#parse("fragments/nav.vm")


<!--=== Content Part ===-->
<div class="container">
    <div class="row magazine-page">
        <!-- Begin Content -->
        <div class="col-md-9">

            <!--Magazine News-->
            <div class="magazine-news">
                <div class="row">
#foreach($index in [0..1])
    #set($post = $newsList.get($index))
                    <div class="col-md-6">
    #if($facebookService.hasPicture($post))
                        <div class="magazine-news-img" style="min-height:200px;">
                            <a href="$post.getLinkUrl()"><img style="width:100%" class="img-responsive" src="$facebookService.getMediumPictureUrl($post)" alt=""></a>
                        </div>
    #end
                        <h3><a href="$facebookService.getLinkUrl($post)">$facebookService.getTitle($post)</a></h3>
                        <div class="by-author">
                            <strong>av $facebookService.getAuthor($post)</strong>
                            <span>/ $facebookService.getPublished($post)</span>
                        </div> 
                        <p>$facebookService.getBody($post)</p>
                    </div>
#end
                </div>
            </div>
            <!--End Magazine News-->

            <hr>

            <!--Magazine News-->
            <div class="magazine-news">
#foreach($row in [0..2])
#set($offset = $row * 3)
                <div class="row">
#foreach($column in [0..2])
#set($index = $offset + $column + 2)
    #set($post = $newsList.get($index))
                    <div class="col-md-4">
    #if($facebookService.hasPicture($post))
                        <div class="magazine-news-img" style="min-height:160px;">
                            <a href="$post.getLinkUrl()"><img style="width:100%" class="img-responsive" src="$facebookService.getMediumPictureUrl($post)" alt=""></a>
                        </div>
    #end
                        <h3><a href="$facebookService.getLinkUrl($post)">$facebookService.getTitle($post)</a></h3>
                        <div class="by-author">
                            <strong>av $facebookService.getAuthor($post)</strong>
                            <span>/ $facebookService.getPublished($post)</span>
                        </div> 
                        <p>$facebookService.getBody($post)</p>
                    </div>
#end

                </div>
#end
            </div>
            <!--End Magazine News-->
        </div>
        <!-- End Content -->

        <!-- Begin Sidebar -->
        <div class="col-md-3">

            <!-- Quick Links -->
            <div class="magazine-sb-categories">
                <div class="headline headline-md"><h2>Hurtiglenker</h2></div>
                <div class="row">
                    <ul class="list-unstyled col-xs-6">
                        <li><a href="#">Revolution Slider</a></li>
                        <li><a href="#">Parralax Page</a></li>
                        <li><a href="#">Backgrounds</a></li>
                        <li><a href="#">Parralax Slider</a></li>
                        <li><a href="#">Responsive</a></li>
                        <li><a href="#">Bootstrap 3x</a></li>
                    </ul>
                    <ul class="list-unstyled col-xs-6">
                        <li><a href="#">50+ Valid Pages</a></li>
                        <li><a href="#">Layer Slider</a></li>
                        <li><a href="#">Bootstrap 2x</a></li>
                        <li><a href="#">Fixed Header</a></li>
                        <li><a href="#">Best Template</a></li>
                        <li><a href="#">And Many More</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Quick Links -->

            <!-- Photo Stream -->
            <div class="headline"><h3>Bilder</h3></div>
            <ul class="list-unstyled blog-photos margin-bottom-30">
#foreach($post in $photoList)
                <li><a href="$post.getLinkUrl()" target="_blank"><img class="hover-effect" alt="" src="$facebookService.getSmallPictureUrl($post)"></a></li>
#end
            </ul>
            <!-- End Photo Stream -->
        </div>
        <!-- End Sidebar -->
    </div>
</div><!--/container-->     
<!-- End Content Part -->


#parse("fragments/footer.vm")