#parse("fragments/head.vm")
#parse("fragments/top.vm")
#parse("fragments/nav.vm")

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">#redactor( "generictitle" true)</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Forsiden</a></li>
#set($breadcrumbList = $pageService.getBreadCrumbs($thisPage))
#foreach($bc in $breadcrumbList)
#if($bc.getId().equals($thisPage.getId()))
            <li class="active">$bc.getTitle()</li>
#else
            <li><a href="/page/$bc.getUrlName()">$bc.getTitle()</a></li>
#end
#end
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<!--=== Content Part ===-->
<div class="container">
    <div class="row blog-page blog-item">
        <!-- Left Sidebar -->
        <div class="col-md-9 md-margin-bottom-60">
            <!--Blog Post-->
            <div class="blog margin-bottom-40">
                <div class="blog-post-tags">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="icon-calendar"></i> $pageService.formatDate($thisPage.getUpdated())</li>
                        <li><i class="icon-pencil"></i> $pageService.getAuthors($thisPage)</li>
                    </ul>
                </div>
                #redactor( "genericbody" false)
            </div>
            <!--End Blog Post-->
        </div>
        <!-- End Left Sidebar -->

        <!-- Right Sidebar -->
        <div class="col-md-3 magazine-page">

#set($favList = $pageService.getFavoritesForPage($thisPage))
#if(!$favList.isEmpty())
            <!-- Quick Links -->
            <div class="magazine-sb-categories">
                <div class="headline headline-md"><h2>Hurtiglenker</h2></div>
                <div class="row">
#set($half = $favList.size() / 2)
                    <ul class="list-unstyled col-xs-6">
#foreach($fav in $favList)
                        <li><a href="/page/$fav.getUrlName()">$fav.getTitle()</a></li>
    #if($velocityCount == $half)
                    </ul>
                    <ul class="list-unstyled col-xs-6">
    #end
#end
                    </ul>
                </div>
            </div>
            <!-- End Quick Links -->
#end

            <!-- Posts -->
            <div class="posts margin-bottom-40">
                <div class="headline headline-md"><h2>Siste nytt fra laget</h2></div>
#foreach($index in [0..4])
    #set($news = $lilNewsList.get($index))
                <dl class="dl-horizontal">
                    <dt>
                        <a href="$facebookService.getLinkUrl($news)"><img src="$facebookService.getSmallPictureUrl($news)" alt="" /></a>
                    </dt>
                    <dd>
                        <p><a href="$facebookService.getLinkUrl($news)">$facebookService.getShortBody($news)</a></p> 
                    </dd>
                </dl>
#end
            </div><!--/posts-->
            <!-- End Posts -->
        </div>
        <!-- End Right Sidebar -->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->


#parse("fragments/footer.vm")