#parse("fragments/head.vm")
#parse("fragments/top.vm")
#parse("fragments/nav.vm")




<!--=== Content Part ===-->
<div class="container">
    <div class="row tab-v3">
        <!--Begin Sidebar Menu-->
        <div class="col-md-3">
            <div class="headline">
                <h2>
#if($user.getPrincipal().getPictureUrl())
                    <img class="img-circle" style="height:32px;vertical-align:middle;" src="$user.getPrincipal().getPictureUrl()"> $user.getUsername()
#else
                    <i class="icon-user"></i>$user.getUsername()
#end
                </h2>
            </div>
            <ul class="nav nav-pills nav-stacked"> 
                <li#if($tab=="profil") class="active"#end><a href="/page/$thisPage.getUrlName()?tab=profil"><i class="icon-user"></i> Profil</a></li>
                <li#if($tab=="adresse") class="active"#end><a href="/page/$thisPage.getUrlName()?tab=adresse"><i class="icon-home"></i> Adresse</a></li>
                <li#if($tab=="epost") class="active"#end><a href="/page/$thisPage.getUrlName()?tab=epost"><i class="icon-envelope"></i> E-post</a></li>
                <li#if($tab=="mobil") class="active"#end><a href="/page/$thisPage.getUrlName()?tab=mobil"><i class="icon-mobile-phone"></i> Mobiltelefon</a></li>
                <li#if($tab=="familie") class="active"#end><a href="/page/$thisPage.getUrlName()?tab=familie"><i class="icon-group"></i> Familie</a></li>
                <li#if($tab=="medlemskap") class="active"#end><a href="/page/$thisPage.getUrlName()?tab=medlemskap"><i class="icon-list-alt"></i> Medlemskap</a></li>
                <li#if($tab=="aktiviteter") class="active"#end><a href="/page/$thisPage.getUrlName()?tab=aktiviteter"><i class="icon-trophy"></i> Aktiviteter</a></li>
                <li#if($tab=="arrangement") class="active"#end><a href="/page/$thisPage.getUrlName()?tab=arrangement"><i class="icon-ticket"></i> Arrangement</a></li>
            </ul>
        </div>
        <!--End Sidebar Menu-->

#set($principal = $user.getPrincipal())

        <!--Begin Content-->
        <div class="col-md-9">
            <div class="row">
                <div class="tab-content">

#if($tab=="profil")
    #parse("templates/mypagetabs/profile.vm")
#elseif($tab=="adresse")
    #parse("templates/mypagetabs/address.vm")
#elseif($tab=="epost")
    #parse("templates/mypagetabs/email.vm")
#elseif($tab=="mobil")
    #parse("templates/mypagetabs/mobile.vm")
#elseif($tab=="familie")
    #parse("templates/mypagetabs/family.vm")
#elseif($tab=="medlemskap")
    #parse("templates/mypagetabs/membership.vm")
#elseif($tab=="arrangement")
    #parse("templates/mypagetabs/events.vm")
#elseif($tab=="aktiviteter")
    #parse("templates/mypagetabs/activity.vm")
#end

                </div>
            </div>
        </div>
        <!--End Content-->

    </div>
</div><!--/container-->
<!--=== End Content Part ===-->






#parse("fragments/footer.vm")