#parse("fragments/head.vm")

<!--=== Content Part ===-->
<div class="container">
    <!--Reg Block-->
    <div class="reg-block">

#if($tab=="logginn")
    #parse("templates/signintabs/login.vm")
#elseif($tab=="resetpassord")
    #parse("templates/signintabs/resetpassword.vm")
#elseif($tab=="settpassord")
    #parse("templates/signintabs/setpassword.vm")
#elseif($tab=="registrer")
    #parse("templates/signintabs/register.vm")
#elseif($tab=="verifiserepost")
    #parse("templates/signintabs/verifyemail.vm")
#end
    </div>
    <!--End Reg Block-->
</div><!--/container-->
<!--=== End Content Part ===-->


<!-- JS Global Compulsory -->
<script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/plugins/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/countdown/jquery.countdown.js"></script>
<script type="text/javascript" src="assets/plugins/backstretch/jquery.backstretch.min.js"></script>
<script type="text/javascript">
    $.backstretch([
      "assets/img/bg/5.jpg",
      "assets/img/bg/4.jpg",
      ], {
        fade: 1000,
        duration: 7000
    });
</script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        $('#datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd.mm.yy",
            yearRange: "c-100:c"
        });
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
<![endif]-->

#parse("fragments/analytics.vm")

</body>
</html> 