#parse("fragments/head.vm")
#parse("fragments/top.vm")
#parse("fragments/nav.vm")


<div class="container">
    <div class="row tab-v2">

        <div class="headline">
            <h2>Lagleder $user.getPrincipal().getName()</h2>
        </div>


        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="#if($tab=="oversikt")active#end"><a href="/page/$thisPage.getUrlName()?tab=oversikt"><i class="icon-info-sign"></i> Oversikt</a></li>
                <li class="#if($tab=="lagliste")active#end"><a href="/page/$thisPage.getUrlName()?tab=lagliste"><i class="icon-group"></i> Lister</a></li>
                <li class="#if($tab=="melding")active#end"><a href="/page/$thisPage.getUrlName()?tab=melding"><i class="icon-envelope"></i> Meldinger</a></li>
                <li class="#if($tab=="sok")active#end"><a href="/page/$thisPage.getUrlName()?tab=sok"><i class="icon-search"></i> Søk</a></li>
            </ul>
            <div class="tab-content">

#if($tab=="oversikt")
    #parse("templates/teamleadtabs/overview.vm")
#elseif($tab=="lagliste")
    #parse("templates/teamleadtabs/lists.vm")
#elseif($tab=="medling")
    #parse("templates/teamleadtabs/message.vm")
#elseif($tab=="sok")
    #parse("templates/teamleadtabs/search.vm")
#end

            </div>
        </div>

    </div>
</div>



#parse("fragments/footer.vm")