                    <div class="tab-pane#if($tab=="familie") active#end" id="family">
                        <h4>Din familie</h4>
                        <p>
                            Her kan du registrere barn og ektefelle slik at dere kan dekkes av et familiemedlemskap.
                            Om du står oppført alene vil du bli registrert som enkeltmedlem. Den som står oppført som
                            primærkontakt vil motta faktura for medlemskap og treningsavgift for alle medlemmene i
                            familien.
                        </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Navn</th>
                                    <th>Fødselsdato</th>
                                    <th>Kjønn</th>
                                    <th><i class="icon-trophy"></i></th>
                                    <th><i class="icon-ticket"></i></th>
                                    <th>Status</th>
                                    <th>Endre</th>
                                </tr>
                            </thead>
                            <tbody>
#foreach($member in $family.getMembers())
                                <tr>
                                    <td>
                                        $member.getName() (${userService.getAge($member)} år) 
                                        #if($member.getUser())<i class="icon-user"></i> #end
                                    </td>
                                    <td>$userService.formatBirthDate($member.getBirthDate())</td>
                                    <td><i class="icon-$member.getGender()"></i></td>
                                    <td>$clubService.getActiveTeamMembershipCountForPrincipal($member)</td>
                                    <td>$clubService.getActiveEventParticipationCountForPrincipal($member)</td>
                                    <td>
                                        #if($userService.isPrimaryContact($member))
                                            <span class="label label-info"><i class="icon-trophy"></i> 
                                                Primærkontakt#if(!$clubService.isEnrolledAsClubMember($family)) (ikke medlem)#end</span>
                                        #elseif($clubService.isEnrolledAsClubMember($family))
                                            #if($family.isNoCombinedMembership())
                                                #if(!$clubService.isDeletable($member))
                                            <span class="label label-success">Enkeltmedlem</span>
                                                #else
                                            <span class="label label-warning">Ikke medlem</span>
                                                #end
                                            #else
                                            <span class="label label-success">Familiemedlem</span>
                                            #end
                                        #else
                                            <span class="label label-warning">Ikke medlem</span>
                                        #end
                                    </td>
                                    <td>
                                    #if($userService.isOfAge($user.getPrincipal()))
                                        #if($userService.isPrimaryContactCandidate($member))
                                            <form class="form-inline" method="post" action="/page/$thisPage.getUrlName()?tab=familie">
                                                <input type="hidden" name="action" value="make-primary-contact">
                                                <input type="hidden" name="principalid" value="$member.getId()">
                                                <button class="btn btn-info btn-xs" title="Gjør til primærkontakt"><i class="icon-trophy"></i></button>
                                            </form>
                                        #end
                                        #if($userService.isOnlyPrincipal($member) && $clubService.isDeletable($member))
                                            <form class="form-inline" method="post" action="/page/$thisPage.getUrlName()?tab=familie">
                                                <input type="hidden" name="action" value="delete-principal">
                                                <input type="hidden" name="principalid" value="$member.getId()">
                                                <button class="btn btn-danger btn-xs" title="Slett person"><i class="icon-remove"></i></button>
                                            </form>
                                        #end
                                    #end
                                    </td>
                                </tr>
#end

#set($invitationList = $userService.getFamilyInvitations($family))
#foreach($invitation in $invitationList)
    #if(!$userService.isFamilyInvitationExpired($invitation))
        #set($member = $invitation.getPrincipal())
                                <tr>
                                    <td>
                                        $member.getName() 
                                        #if($member.getUser())<i class="icon-user"></i> #end
                                    </td>
                                    <td colspan="4">Invitasjonen utløper $pageService.prettyTimeForInvitationExpiry($invitation.getCreated())</td>
                                    <td><span class="label label-default">Invitert til familien</span></td>
                                    <td></td>
                                </tr>
    #end
#end
                            </tbody>
                        </table>

                        <div class="margin-bottom-20"></div>

#set($myInvitations = $userService.getInvitationsForPrincipal($user.getPrincipal()))
#if(!$myInvitations.isEmpty())
    #foreach($invitation in $myInvitations)
    <div class="alert alert-info">
        <strong>Invitasjon!</strong><br>
        Du har mottatt en invitasjon om medlemskap i familien til $invitation.getFamily().getPrimaryPrincipal().getName(). <i>(Invitasjonen utløper $pageService.prettyTimeForInvitationExpiry($invitation.getCreated()))</i><br>
        <a class="btn-u btn-u-sea" href="$baseHref/page/signin?tab=takkjatilmedlemskap&code=$invitation.getCode()">
            Klikk her for å akseptere invitasjonen
        </a>
    </div>
    #end
                        <div class="margin-bottom-20"></div>
#end

#if($info)
    <span class="label label-success"><i class="icon-check"></i> $info.opt(0)</span>
    <div class="margin-bottom-10"></div>
#end
#if($errors.opt("save"))
    <span class="label label-danger"><i class="icon-warning-sign"></i> $errors.opt("save")</span>
#end


#if($userService.isOfAge($user.getPrincipal()))
                        <h4>Legg til et familiemedlem</h4>
                        <form class="form-inline" role="form" method="POST" action="/page/$thisPage.getUrlName()?tab=familie">
                            <input type="hidden" name="action" value="add-family-member">
                            <div class="form-group#if($errors.opt("name")) has-error#end">
                                <label for="inputName" class="sr-only">Navn</label>
                                <input type="text" name="name" class="form-control" id="inputName" placeholder="Navn" value="$!data.opt("name")">
                            </div>
                            <div class="form-group#if($errors.opt("birthdate")) has-error#end">
                                <label for="inputBirthdate" class="sr-only">Fødselsdag</label>
                                <input type="text" id="datepicker" name="birthdate" class="form-control" placeholder="Fødselsdag (dd.mm.yyyy)" value="$!data.opt("birthdate")">
                            </div>
                            <div class="form-group#if($errors.opt("gender")) has-error#end">
                                <label for="inputGender" class="sr-only">Kjønn</label>
                                <select name="gender" class="form-control" id="inputGender">
                                    <option value=""> -- Velg Kjønn --</option>
                                    <option#if($!data.opt("gender")=="male") selected#end value="male">Gutt</option>
                                    <option#if($!data.opt("gender")=="female") selected#end  value="female">Jente</option>
                                </select>
                            </div>
                            <button type="submit" class="btn-u btn-u-default">Legg til</button>
                        </form>
                        #inputerror( "name" )
                        #inputerror( "birthdate" )
                        #inputerror( "gender" )

                        <div class="margin-bottom-20"></div>

                        <h4>Inviter en annen bruker som medlem av din familie</h4>
                        <form class="form-inline" role="form" method="POST" action="/page/$thisPage.getUrlName()?tab=familie">
                            <input type="hidden" name="action" value="invite-family-member">
                            <div class="form-group#if($errors.opt("email")) has-error#end">
                                <label for="inputEmail" class="sr-only">E-post</label>
                                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="E-post" value="">
                            </div>
                            <button type="submit" class="btn-u btn-u-default">Inviter</button>
                        </form>
                        #inputerror( "email" )

    #if($showNoCombinedMembershipOption)
                        <div class="margin-bottom-20"></div>
                        <h4>Behandle kun aktive som medlemmer i idrettslaget</h4>
                        <form class="form-inline" role="form" method="POST" action="/page/$thisPage.getUrlName()?tab=familie">
                            <input type="hidden" name="action" value="save-only-active-members">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="true" name="active-members"#if($family.isNoCombinedMembership()) checked#end> Kun aktive medlemmer
                                </label>
                            </div>
                            <button type="submit" class="btn-u btn-u-default">Lagre</button>
                        </form>

                        <div class="margin-bottom-10"></div>

                        <i>Dersom dere ikke ønsker å tegne familiemedlemskap kan du krysse av ovenfor.
                        Da vil kun de familiemedlemmene som er aktive på et lag bli regnet som klubbmedlemmer.</i>
    #end
#end

                    </div>
