                    <div class="tab-pane#if($tab=="familie") active#end" id="family">
                        <h4>Din familie</h4>
                        <p>
                            Her kan du registrere barn og ektefelle slik at dere kan dekkes av et familiemedlemskap.
                            Om du står oppført alene vil du bli registrert som enkeltmedlem. Den som står oppført som primærkontakt vil motta
                            faktura for medlemskapet og treningsavgiften for de av medlemmene som er under 18 år.
                        </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Navn</th>
                                    <th>Fødselsdato</th>
                                    <th>Kjønn</th>
                                    <th>Aktiviteter</th>
                                    <th>Status</th>
                                    <th>Endre</th>
                                </tr>
                            </thead>
                            <tbody>
#foreach($member in $family.getMembers())
                                <tr>
                                    <td>
                                        $member.getName() (${userService.getAge($member)} år) 
                                        #if($member.getUser())<i class="icon-user"></i> #end
                                    </td>
                                    <td>$userService.formatBirthDate($member.getBirthDate())</td>
                                    <td><i class="icon-$member.getGender()"></i></td>
                                    <td>$clubService.getActiveTeamMembershipCountForPrincipal($member)</td>
                                    <td>
                                        #if($userService.isPrimaryContact($member))
                                            <span class="label label-info"><i class="icon-trophy"></i> 
                                                Primærkontakt#if(!$clubService.isEnrolledAsClubMember($family)) (ikke medlem)#end</span>
                                        #elseif($userService.isPendingFamilyMember($member))
                                            <span class="label label-default">Invitert til familien..</span>
                                        #elseif($clubService.isEnrolledAsClubMember($family))
                                            <span class="label label-success">Familiemedlem</span>
                                        #else
                                            <span class="label label-warning">Ikke medlem</span>
                                        #end
                                    </td>
                                    <td>
                                    #if($userService.isOfAge($user.getPrincipal()))
                                        #if($userService.isPrimaryContactCandidate($member))
                                            <form class="form-inline" method="post" action="/page/$thisPage.getUrlName()?tab=familie">
                                                <input type="hidden" name="action" value="make-primary-contact">
                                                <input type="hidden" name="principalid" value="$member.getId()">
                                                <button class="btn btn-info btn-xs" title="Gjør til primærkontakt"><i class="icon-trophy"></i></button>
                                            </form>
                                        #end
                                        #if($userService.isOnlyPrincipal($member) && $clubService.isDeletable($member))
                                            <form class="form-inline" method="post" action="/page/$thisPage.getUrlName()?tab=familie">
                                                <input type="hidden" name="action" value="delete-principal">
                                                <input type="hidden" name="principalid" value="$member.getId()">
                                                <button class="btn btn-danger btn-xs" title="Slett person"><i class="icon-remove"></i></button>
                                            </form>
                                        #end
                                    #end
                                    </td>
                                </tr>
#end
                            </tbody>
                        </table>

                        <div class="margin-bottom-20"></div>

#if($userService.isOfAge($user.getPrincipal()))
                        <h4>Legg til et familiemedlem</h4>
                        <form class="form-inline" role="form" method="POST" action="/page/$thisPage.getUrlName()?tab=familie">
                            <input type="hidden" name="action" value="add-family-member">
                            <div class="form-group#if($errors.opt("name")) has-error#end">
                                <label for="inputName" class="sr-only">Navn</label>
                                <input type="text" name="name" class="form-control" id="inputName" placeholder="Navn" value="$!data.opt("name")">
                            </div>
                            <div class="form-group#if($errors.opt("birthdate")) has-error#end">
                                <label for="inputBirthdate" class="sr-only">Fødselsdag</label>
                                <input type="text" id="datepicker" name="birthdate" class="form-control" id="inputBirthdate" placeholder="Fødselsdag" value="$!data.opt("birthdate")">
                            </div>
                            <div class="form-group#if($errors.opt("gender")) has-error#end">
                                <label for="inputGender" class="sr-only">Kjønn</label>
                                <select name="gender" class="form-control" id="inputGender">
                                    <option value=""> -- Velg Kjønn --</option>
                                    <option#if($!data.opt("gender")=="male") selected#end value="male">Gutt</option>
                                    <option#if($!data.opt("gender")=="female") selected#end  value="female">Jente</option>
                                </select>
                            </div>
                            <button type="submit" class="btn-u btn-u-default">Legg til</button>
                        </form>
                        #inputerror( "name" )
                        #inputerror( "birthdate" )
                        #inputerror( "gender" )
#if($info)
    <span class="label label-success"><i class="icon-check"></i> $info.opt(0)</span>
#end
#if($errors.opt("save"))
    <span class="label label-danger"><i class="icon-warning-sign"></i> $errors.opt("save")</span>
#end

                        <div class="margin-bottom-20"></div>

                        <h4>Inviter en annen bruker som medlem av din familie</h4>
                        <form class="form-inline" role="form" method="POST" action="/page/$thisPage.getUrlName()?tab=familie">
                            <input type="hidden" name="action" value="invite-family-member">
                            <div class="form-group#if($errors.opt("email")) has-error#end">
                                <label for="inputEmail" class="sr-only">E-post</label>
                                <input type="text" name="email" class="form-control" id="inputEmail" placeholder="E-post" value="">
                            </div>
                            <button type="submit" class="btn-u btn-u-default">Inviter</button>
                        </form>
                        #inputerror( "email" )
#end
                    </div>
