                    <div class="tab-pane#if($tab=="mobil") active#end" id="mobile">
                        <h4>Mobiltelefon</h4>
                        <form class="form-horizontal" role="form" method="POST" action="/page/$thisPage.getUrlName()?tab=mobil">
                            <input type="hidden" name="action" value="save-mobile">

                            <div class="form-group#if($errors.opt("address1")) has-error#end">
                                <label for="inputMobile" class="col-lg-2 control-label">Mobiltelefon</label>
                                <div class="col-lg-10">
                                    <input type="text" name="mobile" class="form-control" id="inputMobile" placeholder="Mobiltelefon" value="$!data.opt("mobile")">
                                    #inputerror( "mobile" )
                                </div>
                            </div>
 
#parse("fragments/formSaveWithFeedback.vm")
                        </form>
                    </div>
